body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    transition: background-color 3s;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}
h1 {
    margin-bottom: 1rem;
    color: #fff;
    text-shadow:0px 0px 3px #ffffff33;
    text-align: center;
    min-width: 350px;
    max-width: 400px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

.input-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 1rem;
}
#mood {
    width: 50%;
    min-width: 250px;
    padding: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    background-color: #28282869;
    color: #fff;
    border-radius: 7px 0 0 7px;
    text-align: center;
    transition: 1s;
}
#mood:focus {
    width: 100%;
    background-color: #ffffff69;
    color: rgb(40,40,40);
    box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.2);
}
#mood::placeholder {
    color: #ffffff69;
}
:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --spacing: 8px;
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: rgb(240, 0, 0);
    --select-bg: #ffffff33;
}
select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 1s;
    /* Personalize */
    max-width: 10rem;
    min-width: 1px;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: rgb(255, 255, 255);
    border-radius: 0 7px 7px 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
}
option {
    color: rgb(255, 255, 255);
    background-color: rgb(40,40,40);
    border-radius: 10px;
    text-align: center;
}
#language:focus, #mood:focus {
    border-color: #fff;
    outline: none;
}

button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #ffffff33;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 4px;
    margin-bottom: 17px;
    cursor: pointer;
    transition: transform 0.3s background-color 1s;
}

button:hover {
    transform: scale(1.05);
}
iframe {
    width: 80%;
    max-width: 750px;
    transition: opacity 0.3s ease-in-out;
    animation: identifier 1s;
    opacity: 0.7;
}
@media (max-width: 500px) {
    .input-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    #mood {
        border-radius: 7px;
        width: 65%;
    }
    select {
        border-radius: 7px;
        padding: 0.5rem 4rem 0.5rem 0.5rem;
    }
}

main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    block-size: 100%;
}
main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    width: 100%;
}
  
section {
    min-height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
section:nth-of-type(2) {
    background-color: #ff1f64;
}
section:nth-of-type(3) {
    background-color: #f1aa4b;
}
section > div {
    background: #121618;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    position: relative;
    opacity: 0;
    transition: all 2.5s 0.75s cubic-bezier(0.16, 1, 0.3, 1);
}
  
section[data-is-visible=true] > div {
    opacity: 1;
    top: 0px;
}

footer {
    text-align: center;
    color: #fff;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    width: 800px;
    min-width: 25px;
    margin: 25px;
}

.container {
    display: inline-block;
    max-width: 100%;
}
.text {
    text-align: center;
    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0; /* Initially hidden */
}
.animate-text {
    animation: typing 5s forwards, cursor .4s step-start 10 alternate;
    opacity: 1; /* Show when animation starts */
}
@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
